* {
    box-sizing: border-box;
    background-color: white;
}

header {
    padding: 5px;
    text-align: center;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: rgb(255, 202, 136); 
}

.AboutMe {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    height: 400px;
    background-color:rgb(255, 216, 171);
    margin-top: 100px;
    margin-bottom: 150px;
}

.MyWork {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    height: 400px;
    background-color: rgb(255, 209, 153);
    margin-top: 100px;
    margin-bottom: 150px;
}

.ContactMe {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    height: 400px;
    background-color: rgb(255, 189, 109);
    margin-top: 100px;
    margin-bottom: 150px;
}


.AboutMe h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: rgb(255, 216, 171);
    color: white;
    text-align: center;
}

.MyWork h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: rgb(255, 209, 153);
    color: white;
    text-align: center;
}

.ContactMe h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: rgb(255, 189, 109);
    color: white;
    text-align: center;
}

.aboutMeP {
    color: white;
    background-color: rgb(252, 232, 208);

}

.aboutMePic {
    float:left;
    margin-right: 25px;
    height: 450px;
    width: 225px; 
}

.myWorkPic {
    float: right;
    margin-right: 25px;
    height: 375px;
    width: 375px;
}

.contactMePic {
    float: left;
    margin-right: 25px;
    height: 450px;
    width: 225px;
}
