* {
    box-sizing: border-box;
    background-color: white;
}

header {
    padding: 5px;
    text-align: center;
}

.AboutMe {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(134, 134, 255);
    color: aliceblue;
}

.AboutMe image {
    height: 200px;
    width: 50px;
}

.AboutMe h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float:left;
    margin-right: 25px;
}
